


.tree-title {
  font-size: 11px;
  display: inline-block;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  padding: 0 2px;
  height: 18px;
  line-height: 18px;
}
.tree-node-proxy {
  font-size: 11px;
  line-height: 20px;
  padding: 0 2px 0 20px;
  border-width: 1px;
  border-style: solid;
  z-index: 9900000;
}









.icon-blank{
	
}
.icon-add{
	
}
.icon-edit{
	
}
.icon-remove{
	
}
.icon-save{
	
}
.icon-cut{
	
}
.icon-ok{
	
}
.icon-no{
	
}
.icon-cancel{
	
}
.icon-reload{
	
}
.icon-search{
	
}
.icon-print{
	
}
.icon-help{
	
}
.icon-undo{
	
}
.icon-redo{
	
}
.icon-back{
	
}
.icon-sum{
	
}
.icon-tip{
	
}

.icon-mini-add{
	
}
.icon-mini-edit{
	
}
.icon-mini-refresh{
	
}